/WikiExtractor.py
/corpus/*/make.log
/corpus/*/*.txt
/corpus/*/jawiki*
/tokenizers/
/bert/
/venv/
/**/__pycache__/
train_tokenizer_*.e*
train_tokenizer_*.o*
create_pretraining_data_*.e*
create_pretraining_data_*.o*
pretraining_*.log
pretraining_*.e*
pretraining_*.o*
*~
